body{
    background-image:url("./shara\ desert.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: 100% 100%;
    overflow-x: hidden;
}

.logo{
    position: absolute;
    left: 150px;
    top: 30px;
}

.main{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 50%;
}

.sahara{
    font-size: 110px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.para1{
    font-size: 15px;
    color: white;
}
.para2{
    font-size: 15px;
    color: white;
}
.explore{
    background-color: white; 
    border-radius: 35px;
    height: 50px;
    width: 200px;
    text-align: center;
    padding: 12px; 
    font-weight: bolder;
    color: black;
    margin-top: 10px;
    box-sizing: border-box;
}

.parent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:stretch;
}
.flex{
    margin-top: 80px;
    margin-right: 50px;
    padding: 20px;
}
 .image1{ 
     background-image: url("./pic-1.png");
     background-size: 100% 100%;
     height: 200px;
     width: 200px;
    z-index: 3;
    border-radius: 25px;
    transition: transform 1s;
} 
.image1:hover{
    transform: translateY(-10px);
}

.image2{ 
    background-image: url("./pic-2.png");
    background-size: 100% 100%;
    height: 200px;
    width: 200px;
    z-index: 3;
    border-radius: 25px; 
    transition: transform 1s;
}
.image2:hover{
    transform: translateY(-10px);
}

.parent2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:stretch;
}
.flex2{
    margin-top: 30px;
    margin-right: 50px;
    padding: 20px;
}

.image3{ 
    background-image: url("./pic-3.png");
    background-size: 100% 100%;
    height: 200px;
    width: 200px;
    z-index: 3;
    border-radius: 25px;
    transition: transform 1s;
}
.image3:hover{
    transform: translateY(-10px);
}
.image4{ 
    background-image: url("./pic-4.png");
    background-size: 100% 100%;
    height: 200px;
    width: 200px;
    z-index: 3;
    border-radius: 25px;
    transition: transform 1s;
}
.image4:hover{
    transform: translateY(-10px);
} 

.home{
    font-size: 15px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 40px;
    left: 900px;
}
.region{
    font-size: 15px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 40px;
    left: 1000px;
}
.about{
    font-size: 15px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 40px;
    left: 1100px;
}
.menu{
    position: absolute;
    top: 20px;
    left: 1200px;
}
.span{
    font-size: 10px;
    font-weight: bolder;
    color: white;
    z-index: 5;
}

@media screen and (min-width:270px) and (max-width:767px) {
    
    .logo{
        position: absolute;
        top: 20px;
        left: 5px;
    }
    .sahara{
        width: 50%;
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        z-index: 10;
    }
    .main{
        display: block;
        width: 100%;
        font-size: 20px;
        position: absolute;
        top: 150px;
        left: 0px;
        z-index: 10;
        padding: 5px;
    }
    .home{
        font-size:15px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 40px;
        left: 90px;
    }
    .region{
        font-size: 15px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 40px;
        left: 150px;
    }
    .about{
        font-size: 15px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 40px;
        left: 220px;
    }
    .menu{
        position: absolute;
        top: 20px;
        left: 300px;
    }
    .explore{
        margin-top: 10px;
    }

    .parent{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 290px;
    
    } 
    .parent2{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    } 
    .image4{
        margin-top: 80px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    
    .logo{
        position: absolute;
        top: 30px;
        left:40px;
        height: 50px;
        width: 50px;
    }
    .sahara{
        width: 50%;
        font-size: 140px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        z-index: 10;
    }
    .main{
        display: block;
        width: 100%;
        font-size: 50px;
        position: absolute;
        top: 150px;
        left: 40px;
        z-index: 10;
        
    }
    .home{
        font-size:20px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 40px;
        left: 330px;
    }
    .region{
        font-size: 20px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 40px;
        left: 440px;
    }
    .about{
        font-size: 20px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 40px;
        left: 580px;
    }
    .menu{
        position: absolute;
        top: 20px;
        left: 730px;
    }
    .parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 430px;
    }
    .parent2{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    } 
    .image1{
        background-size: 100% 100%;
        height: 200px;
        width: 400px;
    }
    .image2{
        background-size: 100% 100%;
        height: 200px;
        width: 400px;
    }
    .image3{
        background-size: 100% 100%;
        height: 200px;
        width: 400px;
    }
    .image4{
        background-size: 100% 100%;
        height: 200px;
        width: 400px;
        margin-top: 80px;
    }
    .explore{
        width: 300px;
        height: 100px;
        font-size: 30px;
        margin-top: 10px;
        padding: 30px;
    }

}

